[package]
edition = "2018"
authors = ["Jorge Aparicio <jorge@japaric.io>", "Dylan Frankland <dylan@frankland.io>"]
categories = ["embedded", "hardware-support", "no-std"]
description = "Peripheral access API for STM32F3 series microcontrollers"
keywords = ["arm", "cortex-m", "stm32f3xx", "hal"]
license = "0BSD"
name = "stm32f3xx-hal"
readme = "README.md"
repository = "https://github.com/stm32-rs/stm32f3xx-hal"
documentation = "https://docs.rs/stm32f3xx-hal"
version = "0.4.3"

[package.metadata.docs.rs]
features = ["stm32f303xc", "rt", "stm32-usbd"]
targets = ["thumbv7em-none-eabihf"]

[badges]
travis-ci = { repository = "stm32-rs/stm32f3xx-hal" }

[dependencies]
cortex-m = "0.6"
cortex-m-rt = "0.6"
embedded-hal = "0.2"
nb = "0.1"
stm32f3 = "0.11"

[dependencies.bare-metal]
version = "0.2"
features = ["const-fn"]

[dependencies.cast]
version = "0.2"
default-features = false

[dependencies.stable_deref_trait]
version = "1"
default-features = false

[dependencies.stm32-usbd]
version = "0.5"
optional = true

[dependencies.void]
version = "1"
default-features = false

[dev-dependencies]
panic-semihosting = "0.5"
usb-device = "0.2"
usbd-serial = "0.1"
cortex-m-semihosting = "0.3"

[features]
default = ["unproven"]
device-selected = []
direct-call-deprecated = []
rt = ["stm32f3/rt"]
# Any Changes here should be mirrored in README.md and src/lib.rs
stm32f301 = ["stm32f3/stm32f301", "device-selected"]
stm32f318 = ["stm32f3/stm32f3x8", "device-selected"]
stm32f302 = ["stm32f3/stm32f302", "direct-call-deprecated"]
stm32f302xb = ["stm32f302", "device-selected"]
stm32f302xc = ["stm32f302", "device-selected"]
stm32f302xd = ["stm32f302", "device-selected"]
stm32f302xe = ["stm32f302", "device-selected"]
stm32f303 = ["stm32f3/stm32f303", "direct-call-deprecated"]
stm32f303xb = ["stm32f303", "stm32-usbd/ram_access_1x16", "device-selected"]
stm32f303xc = ["stm32f303", "stm32-usbd/ram_access_1x16", "device-selected"]
stm32f303xd = ["stm32f303", "stm32-usbd/ram_access_2x16", "device-selected"]
stm32f303xe = ["stm32f303", "stm32-usbd/ram_access_2x16", "device-selected"]
stm32f303x6 = ["stm32f303", "device-selected"]
stm32f303x8 = ["stm32f303", "device-selected"]
stm32f373 = ["stm32f3/stm32f373", "device-selected"]
stm32f378 = ["stm32f3/stm32f3x8", "device-selected"]
stm32f334 = ["stm32f3/stm32f3x4", "device-selected"]
stm32f328 = ["stm32f3/stm32f3x8", "device-selected"]
stm32f358 = ["stm32f3/stm32f3x8", "device-selected"]
stm32f398 = ["stm32f3/stm32f3x8", "device-selected"]
unproven = ["embedded-hal/unproven"]

[profile.dev]
debug = true
lto = true

[profile.release]
debug = true
lto = true
opt-level = "s"

[[example]]
name = "pwm"
required-features = ["stm32f303xc"]

[[example]]
name = "toggle"
required-features = ["rt", "stm32f303xc"]

[[example]]
name = "usb_serial"
required-features = ["rt", "stm32f303xc", "stm32-usbd"]

[[example]]
name = "spi"
required-features = ["stm32f303"]

[[example]]
name = "serial_dma"
required-features = ["stm32f303"]

[[example]]
name = "adc"
required-features = ["stm32f303"]
