[package]
edition = "2018"
name = "testsuite"
publish = false
version = "0.0.0"

[lib]
harness = false

[[test]]
name = "adc"
harness = false

[[test]]
name = "uart"
harness = false

[[test]]
name = "rcc"
harness = false

[[test]]
name = "spi"
harness = false

[[test]]
name = "timer"
harness = false

[[test]]
name = "gpio_input"
harness = false

[[test]]
name = "gpio_output_push_pull"
harness = false

[[test]]
name = "gpio_output_open_drain"
harness = false

[[test]]
name = "gpio_input_puller"
harness = false

[[test]]
name = "watchdog"
harness = false

[dependencies]
cfg-if = "1.0"
cortex-m = "0.7.0"
cortex-m-rt = "0.6.13"
defmt = "0.2.0"
defmt-rtt = "0.2.0"
defmt-test = "0.2.0"
enumset = { version = "1.0.6" }
# TODO: Set stm32f303xc as default, but make it overwritable
stm32f3xx-hal = { path = "..", features = ["rt", "defmt-trace", "can", "ld", "enumset"]}
panic-probe = { version = "0.2.0", features = ["print-defmt"] }
nb = "1.0.0"
num-traits = { version = "0.2.14", default-features = false }

[features]
# enable all defmt logging levels
default = ["defmt-trace", "stm32f3xx-hal/stm32f303xc", "stm32f3xx-hal/ld"]

# do not modify these features
defmt-default = []
defmt-trace = []
defmt-debug = []
defmt-info = []
defmt-warn = []
defmt-error = []
